   input {
       border: 0;
       outline: none;
   }

   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   ul {
       list-style: none;
   }

   .top {
    display: flex;
       position: absolute;
       left: 346px;
       width: 495px;
       top: 25px;
       height: 36px;
       border: 1px solid #bab0b0;
       /* border: 2px solid #b1191a; */
   }

   .top input {
       float: left;
       width: 454px;
       height: 35px;
       padding-left: 10px;
       padding: 0 10px;
       font-size: 14px;
       line-height: 48px;
       border: 1px solid #e0e0e0;
       outline: none;
       transition: all 0.3s;
   }

   .result-list {
       display: none;
       left: 0;
       top: 48px;
       width: 454px;
       border: 1px solid #bab0b0;
       border-top: 0;
       background: #fff;
   }

   .result-list a {
       display: block;
       padding: 6px 15px;
       font-size: 12px;
       color: #424242;
       text-decoration: none;
   }

   .result-list a:hover {
       background-color: #eee;
   }
   table{
    margin: 10% auto;
   }