.box{
    margin: 10% 30% auto;
}

table{
        border-right: gray 1px solid;
        border-top: gray 1px solid;
        border-left: gray 1px solid;
        width: 70%;
        margin: 10% 15% auto;
        word-break: break-all;
        border-bottom: gray 1px solid;
        border-collapse: collapse;
        background-color: #f5fafe;
        word-wrap: break-word;
}

td{
        cursor: hand;
        height: 22px;
        text-align: center;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ccc;
}
table tbody tr td:first-child{
    color: #f40;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*调整大小查看搜索栏的变化*/
  .wrap{
    width: 20%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg{
    background-image: url("../images/bg.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}