* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景图片 */
body {
    background-image: url(../images/icon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* 背景虚化 */
html::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: saturate(200%) contrast(90%) blur(4.5px);
}

/* 大盒子 */
.box {
    margin: 10% auto;
    height: 400px;
    width: 700px;
}

.top {
    background-color: rgba(225, 228, 231, 0.699);
    width: 250px;
    height: 50px;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
    padding: 7px ;
    display: inline-block;
}

.bottom {
    background-color: rgba(225, 228, 231, 0.699);
    height: 350px;
    width: 700px;
    border-radius: 0px 50px 50px 50px;
}
label {
    display: inline-block;
    margin: 0px 6px 0px 70px;
    font-size: 30px;
}
select{
    display: inline-block;
    width: 300px;
    height: 50px;
    font-size: 35px;
}

#target {
    display: inline-block;
    width: 300px;
    height: 50px;
    font-size: 35px;
}

.submit:hover {
    box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 0.918);
    /* 鼠标经过盒子有黑色阴影 */
}

.submit {
    width: 153px;
    height: 46px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    margin: 38px 278px 0px;
}


